<?xml version="1.0" encoding="utf-8" ?>
<!--https://github.com/NLog/NLog.Web/wiki/Getting-started-with-ASP.NET-Core-2-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn" 
      internalLogFile="logs/internal-nlog.log">
  <!-- 级别 Fatal>Error>Warn>Info>Debug>Trace -->
  
  <!--define various log targets-->
  <targets async="true">

    <!--${basedir}运行时位置：地址（bin\Debug\netcoreapp2.1）-->
    <!--write logs to file-->
    <target xsi:type="File" name="errorLogFileTarget" fileName="${basedir}/logs/errors/TY-${machinename}-${shortdate}.log"
            layout="${longdate} [Mactching: ${machinename}] ${logger} ${uppercase:${level}} ${message} ${newline} ${exception:format=ToString}" />
    <target xsi:type="File" name="infoLogFileTarget" fileName="${basedir}/logs/infos/TY-${machinename}-${shortdate}.log"
            layout="${longdate} [Mactching: ${machinename}] ${logger} ${uppercase:${level}} ${message}" />
    <target xsi:type="File" name="debugLogFileTarget" fileName="${basedir}/logs/debugs/TY-${machinename}-${shortdate}.log"
            layout="${longdate} [Mactching: ${machinename}] ${logger} ${uppercase:${level}} ${message}" />

    <target xsi:type="Mail" name="errorMail"
       smtpServer="smtp.exmail.qq.com"
       smtpAuthentication="Basic"
       smtpPassword=""
       smtpUserName=""
       smtpPort="465"
       enableSsl="true"
       addNewLines="true"
       from=""
       to=""
       subject="Error"
       header="============================ Error Begin ============================="
       body="${longdate} [Mactching: ${machinename}] ${logger} ${uppercase:${level}} ${message} ${newline} ${exception:format=ToString}"
       footer="============================ Error End ============================="
    />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"-->
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoLogFileTarget" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorLogFileTarget" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugLogFileTarget" />
    <logger name="*" minlevel="Error" writeTo="errorMail" />
  </rules>

</nlog>
